#app {
    width: 1320px;
    height: 66vh;
    text-align: center;
    padding: 100px 0;
    color:#ecf008;
    font-family: 'Press Start 2P';font-size: 38px;
    background-color:rgb(39, 42, 53);
}


.start-button {
    position: absolute;
    top: 50%;
    right: 700px;
    width: 100px;
    height: 15px;
    text-align: center;
    padding: 40px 0;
    color:rgb(39, 42, 53);
    font-family: 'Press Start 2P';font-size: 16px;
    background-color: #6d8cdf;
    border: 3px solid #4870dd;
  }
  

.help-button {
    position: absolute;
    top: 50%;
    right: 510px;
    width: 100px;
    height: 15px;
    text-align: center;
    padding: 40px 0;
    color:rgb(39, 42, 53);
    font-family: 'Press Start 2P';font-size: 16px;
    background-color: #6d8cdf;
    border: 3px solid #4870dd;
  }

  #helptext {
    position: absolute;
    top:20%;
    right: 200px;
    width: 700px;
    height: 250x;
    text-align: center;
    padding: 110px 100px;
    color:#ecf008;
    font-family: 'Press Start 2P';font-size: 12px;
    line-height:40px;
    background-color: #6d8cdf;
    border: 3px solid #4870dd;
  }

  .exit {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    padding: 1px;
    text-align: center;
    color:rgb(39, 42, 53);
    font-family: 'Press Start 2P';font-size: 18px;
    background-color: #6d8cdf;
    border: 3px solid #4870dd;
  }
  